<!DOCTYPE html>
<html 
    ng-app="myApp"
    lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-chronos example</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="example.js"></script>
    <script src="../dist/ng-chronos.min.js"></script>
</head>
<body ng-controller="MyCtrl">
    <h1>ng-chronos</h1>
    <ng-chronos ng-model="chrono"></ng-chronos>
    <button ng-click="chrono.start()">start</button>
    <button ng-click="chrono.pause()">Pause</button>

</body>
</html>
